body {
    background-color: lightcyan;
}

#main-header{
    text-align: center;
    
}

#container {
    margin-left:auto;
    margin-right:auto;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container div{
    width: 40px;
    height: 40px
}

.enemy {
    background-color: lightslategrey;
    border-radius: 20px;
}

.player {
    background-color: blue;
}


